{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <main id="main">

        <section class="single-post-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 post-content" data-aos="fade-up">

                        <!-- ======= Single Post Content ======= -->
                        <div class="single-post">
                            <div class="post-meta">
                                <span class="date">{{ blog_post.category }}</span>
                                <span class="mx-1">&bullet;</span>
                                <span>{{ blog_post.created_at|date:"b d 'y" }}</span>
                            </div>
                            <h1 class="mb-5">{{ blog_post.title }}</h1>

                            <figure class="my-4">
                                <img src="{{ blog_post.image.url }}" alt="" class="img-fluid">
                            </figure>

                            <p><span
                                    class="firstcharacter">{{ blog_post.content|slice:":1" }}</span>{{ blog_post.content|slice:"1:" }}
                            </p>
                            <div class="author-info mt-5 pt-3 border-top">
                                <h4>{% translate "Written by:" %}</h4>
                                <div class="d-flex align-items-center mt-3">

                                    <div class="photo me-3">
                                        <img src="{{ blog_post.author.avatar.url }}" alt=""
                                             class="img-fluid rounded-circle" style="width: 60px; height: 60px;">
                                    </div>
                                    <div class="name">
                                        <a href="{% url 'user_profile' blog_post.author.slug %}">
                                            <h5 class="m-0">{{ blog_post.author }}</h5>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div><!-- End Single Post Content -->
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
