{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main">

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->
                    <div class="single-post">
                        <div class="post-meta"><span class="date">{{ blog_data.category }}</span> <span class="mx-1">&bullet;</span>
                            <span>{{ blog_data.date }}</span></div>
                        <h1 class="mb-5">{{ blog_data.title }}</h1>
                        <p><span class="firstcharacter">L</span>{{ blog_data.description }}</p>

                        <figure class="my-4">
                            <img src="{% static blog_data.image_url %}" alt="" class="img-fluid">
                            <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, odit?
                            </figcaption>
                        </figure>
                        <!-- Additional content -->
                        <!-- Add more content as needed -->
                    </div><!-- End Single Post Content -->
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}
